name: Static code analysis

on: [push, pull_request]

jobs:
    static-code-analysis:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@master
            - name: PHPStan
              uses: docker://jakzal/phpqa:php7.4-alpine
              with:
                  args: phpstan analyze -c ./phpstan.neon app/src/ -l 1
            - name: PHP-CS-Fixer
              uses: docker://jakzal/phpqa:php7.4-alpine
              with:
                  args: php-cs-fixer app/ --dry-run --allow-risky=yes --no-interaction --ansi fix
